.hub-serand-configs .cname {
    font-weight: bold;
    word-break: break-all;
}

.hub-serand-configs .toolbar {
    margin-bottom: 15px;
}

.hub-serand-configs .form-group {
    margin-bottom: 15px;
}